<mat-form-field>
  <mat-label>Location</mat-label>
  <mat-select (selectionChange)="locationChanged($event)" [(value)]="selectedLocation"
      [formControl]="locationFormControl">
    <mat-option *ngFor="let location of locations" [value]="location">
      {{location.city}}
      <!--groupbyCity returns an array of unique cities-->
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Sector</mat-label>
  <mat-select (selectionChange)="sectorChanged($event)" [(value)]="selectedSector"
    [formControl]="sectorFormControl">
    <mat-option *ngFor="let sector of sectors" [value]="sector">
      {{sector.floor}}.{{sector.sectorNo}}
      <!--groupbySector returns an array of unique cities-->
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="date">
  <input matInput [matDatepicker]="picker" [min]="startDate" [max]="endD" [formControl]="date" placeholder="Date"
    (dateChange)="dateChanged($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
