<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <app-desk-search></app-desk-search>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-tabs></app-tabs>>
  </mat-sidenav-content>
</mat-sidenav-container>
