.icon {
    padding: 0 14px;
  }
.spacer {
    flex: 1 1 auto;
  }

.mat-toolbar{
  background-color: #FC6600;
  color: white;

}
.uboot{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
