
<mat-toolbar>
    <mat-icon>flip_to_front</mat-icon>
    <span class="uboot">UBOOT</span>
    <span class="spacer"></span>
    <mat-icon class="icon"  *ngIf="isLoggedIn()" (click)="logout()" matTooltip="Logout">logout</mat-icon>
    <mat-icon class="icon" *ngIf="isLoggedIn()" matTooltip="Azida">account_circle</mat-icon>
</mat-toolbar>
