<mat-toolbar-row>
  <app-desk-search></app-desk-search>
</mat-toolbar-row>
<mat-sidenav-container class="container" autosize>
  <!--mat-sidenav mode="side" opened class="sidenav">
    <app-desk-search></app-desk-search>
  </mat-sidenav-->
  <mat-sidenav-content>
    <mat-tab-group class="tab">
      <mat-tab label="Ad-hoc">
        <app-plan></app-plan>
      </mat-tab>
      <mat-tab label="Plan">
        <app-table></app-table>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
