.sidenav {
  background: white;
  padding: 20px;
}
.mat-sidenav {
  padding: 20px;
  width: 300px;
}

.spacer {
  flex: 1 1 auto;
}

.top {
  padding: 50px;
  background-color: #FC6600;
  color: white;
  font-family:  Helvetica, sans-serif;

}

.search {
  background-color: #064165;
  color: white;
}

.icon {
  padding: 0 14px;
  color: white;
}