<mat-grid-list cols="6" rowHeight="50px" gutterSize="5px" class= "table" >
  
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows" > 

        <div *ngIf="!tile.reserved">
          <div *ngIf="tile.place=='down'">
            <div class="name">{{tile.placeholder}}</div>
            <button class="button" 
                    mat-raised-button *ngIf="tile.desk!=''" 
                    (click)="onClick(tile);" 
                    [ngClass]="{'button':!tile.reserved, 'ibutton':tile.my_reservation}">
                    {{tile.desk}}&nbsp;{{tile.name}}</button>
          </div>
          <div *ngIf="tile.place=='up'" >
            <button class="button" 
                    mat-raised-button  *ngIf="tile.desk!=''" 
                    [ngClass]="{'button':!tile.reserved, 'ibutton':tile.my_reservation}"
                    (click)="onClick(tile);">
              {{tile.desk}}&nbsp;{{tile.name}}</button>
            <div class="name">{{tile.placeholder}}</div>
          </div>
        </div>

        <div *ngIf="tile.reserved">
          <div *ngIf="tile.place=='down'">
              <div class="name">{{tile.placeholder}}</div>
              <button class="button-disabled" mat-raised-button disabled *ngIf="tile.desk!=''">{{tile.desk}}&nbsp;{{tile.name}}</button>
          </div>
          <div *ngIf="tile.place=='up'" >
              <button class="button-disabled" mat-raised-button disabled *ngIf="tile.desk!=''">{{tile.desk}}&nbsp;{{tile.name}}</button>
              <div class="name">{{tile.placeholder}}</div>
          </div>
        </div>

    </mat-grid-tile>
  </mat-grid-list>
<!--div class="grid grid-pad">
  <a *ngFor="let desk of desks" class="col-1-4" 
        routerLink="/detail/{{desk.id}}">
    <div [ngClass]="{'module': !desk.isFree, 'module-free': desk.isFree}">
        <h4>{{desk.AP_NR}}<br>{{desk.deskOwner}}</h4>
    </div>
  </a>
[style.background]="tile.color" [style.justify-content]="tile.align"
</div-->
