<div *ngFor="let desk of desks">
  <mat-card class="card">
    <mat-card-content>
      <button mat-fab color="warn" *ngIf="!isDeskReserved(desk.id)" (click)="book(desk)">
        {{desk.AP_NR}}</button>
      <button mat-fab disabled *ngIf="isDeskReserved(desk.id)">{{desk.AP_NR}}</button>
    </mat-card-content>
    <mat-card-footer *ngIf="isDeskReserved(desk.id)">
      {{getReservation(desk.id).user.firstname}}</mat-card-footer>
  </mat-card>
</div>
