table {
    width: 100%;
  }

  .button{
    background-color: #064165;
    color: white;
  }

  .my-tooltip {
    white-space: pre-line;
  }

  .button:hover {
    background-color: lightgray;
    border: 2px solid  #064165; 
    color: gray;
  }
  .ibutton{
    background-color: lightgray;
    border: 2px solid  #064165; 
    color: gray;
  }