<table mat-table [dataSource]="desks" class="mat-elevation-z8">
    <ng-container matColumnDef="AP_NR">
        <th mat-header-cell *matHeaderCellDef> Desk </th>
        <td mat-cell *matCellDef="let desk"> {{desk.AP_NR}} </td>
    </ng-container>

    <ng-container matColumnDef="date1">
        <th mat-header-cell *matHeaderCellDef> {{currentDate| date : 'EEEEEE, dd.MM.yyyy'}}</th>
        <td mat-cell *matCellDef="let desk" >
            <button class="button" mat-raised-button 
                    *ngIf="!isDeskReserved(desk.id,currentDate )" 
                    (click)="book(desk, currentDate)">Free</button>
            <button  mat-raised-button disabled *ngIf="isDeskReserved(desk.id,currentDate)">
                {{getReservation(desk.id, currentDate).user.firstname}}</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="date2">
      <th mat-header-cell *matHeaderCellDef> {{addDays(currentDate,1)| date : 'EEEEEE, dd.MM.yyyy'}}</th>
      <td mat-cell *matCellDef="let desk" >
          <button class="button" mat-raised-button *ngIf="!isDeskReserved(desk.id,addDays(currentDate,1))" (click)="book(desk, addDays(currentDate,1))">Free</button>
          <button  mat-raised-button disabled *ngIf="isDeskReserved(desk.id,addDays(currentDate,1))">
              {{getReservation(desk.id, addDays(currentDate,1)).user.firstname}}</button>
      </td>
  </ng-container>

    <ng-container matColumnDef="date3">
        <th mat-header-cell *matHeaderCellDef> {{addDays(currentDate,2)| date : 'EEEEEE, dd.MM.yyyy'}}</th>
        <td mat-cell *matCellDef="let desk" >
            <button class="button" mat-raised-button *ngIf="!isDeskReserved(desk.id,addDays(currentDate,2))" (click)="book(desk, addDays(currentDate,2))" >
                Free</button>
            <button  mat-raised-button disabled *ngIf="isDeskReserved(desk.id,addDays(currentDate,2))">{{getReservation(desk.id, addDays(currentDate,2)).user.firstname}}</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="date4">
        <th mat-header-cell *matHeaderCellDef> {{addDays(currentDate,3) | date : 'EEEEEE, dd.MM.yyyy'}}</th>
        <td mat-cell *matCellDef="let desk" >
            <button class="button" mat-raised-button *ngIf="!isDeskReserved(desk.id,addDays(currentDate,3))" (click)="book(desk,addDays(currentDate,3))">
                Free</button>
              <button  mat-raised-button disabled *ngIf="isDeskReserved(desk.id, addDays(currentDate,3))">{{getReservation(desk.id, addDays(currentDate,3)).user.firstname}}</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="date5">
        <th mat-header-cell *matHeaderCellDef> {{addDays(currentDate,4)| date : 'EEEEEE, dd.MM.yyyy'}}</th>
        <td mat-cell *matCellDef="let desk" >
            <button class="button" mat-raised-button *ngIf="!isDeskReserved(desk.id,addDays(currentDate,4))" (click)="book(desk, addDays(currentDate,4))">
                Free</button>
              <button  mat-raised-button disabled *ngIf="isDeskReserved(desk.id,addDays(currentDate,4))">{{getReservation(desk.id, addDays(currentDate,4)).user.firstname}}</button>
        </td>
    </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
